.Header
{
    font-size: 2rem;
    color: #02394A;
    
}

.Header > p
{
    padding: 1rem 1rem 0 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;

}