.SearchBar
{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

input
{
    color: #02212a;
    outline: none;
    width: 30rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
    border: 1px solid #02394A;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.387);
}

.button
{
    color: #02212a;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 2px solid #02394A;
    cursor: pointer;
    font-weight: bold;
}

.button2
{
    position: relative;
    top: 40px;
}

.parent
{
    display: flex;
    justify-content: center;
}

@media screen and (min-width : 290px) and (max-width : 800px)
{

.SearchBar{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    color: #02212a;
    outline: none;
    width: 70%;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
    border: 1px solid #02394A;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.387);
}

.button{
    color: #02212a;
    width: 70%;
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
}

.button2{
    display: block;
    width: 15%;
    margin: 0 auto;
    font-size: 0.6rem;
    background-color: black;
    color: white;
    padding: 0.3rem 0.3rem;
    border: none;
}

.parent{
    display: flex;
    flex-direction: column-reverse;
}
}