.TemperatureInfo
{
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: #02212a;
}

.temperature
{
    padding: 2rem;
}

.temperature > p:first-child
{
    font-size: 5rem;
    text-align: center;
}

.temperature > p:nth-child(2)
{
    font-size: 2rem;
    text-align: center;
}

.city
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.city > p:first-child
{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

.city > p:last-child
{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

@media screen and (min-width : 290px) and (max-width : 800px){

.TemperatureInfo
{
    display: flex;
    flex-direction: column;
    color: #02212a;
}

.temperature
{
}

.temperature > p:first-child
{
    margin-top: 1rem;
    font-size: 3rem;
    text-align: center;
}

.temperature > p:nth-child(2)
{
    font-size: 1rem;
    text-align: center;
}

.city
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3rem;
}

.city > p:first-child
{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

.city > p:last-child
{
    font-size: 1rem;
    text-align: center;
    margin-top: 0.8rem;
}
}