*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App
{
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
}

/* 
background: #085078;
background: -webkit-linear-gradient(to right, #85D8CE, #085078);
background: linear-gradient(to right, #85D8CE, #085078);
 */

 /* 
background: #FF8008;
background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
background: linear-gradient(to right, #FFC837, #FF8008);
 */